{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center" style="height: 100%">
        <div class="login-form col-3 align-self-center">
            <form method="post">
                {% csrf_token %}
                <h2 class="text-center">Вход</h2>
                {% if form.errors %}
                    <p class="text-danger text-center">
                        Не верное имя пользователя или пароль, попробуйте еще раз
                    </p>
                {% endif %}
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" name="username" placeholder="Имя пользователя" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="password" class="form-control" name="password" placeholder="Пароль" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary login-btn btn-block">Войти</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
