{% extends 'base.html' %}

{% block content %}

    {% include "nav.html" %}

    <div class="row ml-5">
        <div class="col-md-10">
            <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Likes</th>
                            <th>Unlike</th>
                            <th>Author</th>
                            <th>Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in object_list %}
                            <tr>
                                <td>{{ post.title }}</td>
                                <td>{{ post.like }}</td>
                                <td>{{ post.unline }}</td>
                                <td>{{ post.authour.username }}</td>
                                <td>{{ post.created }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
{% endblock %}
